@CHARSET "UTF-8";
div.section-border {
    width: 610px;
    margin-left: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.legend-tips {
    position: absolute;
    top: 24.5em;
    left: 1em;
    z-index: 6;
    background: #006872;
    color: white;
    padding: .5em .75em;
    font-size: 0.8em;
    display: none;
    border-radius: 6px;
}
.first-lga-tip {
    position: absolute;
    top: 24em;
    right: 12.9em;
    z-index: 6;
    background: #006872;
    color: white;
    padding: .5em .75em;
    font-size: 0.8em;
    display: none;
    border-radius: 6px;
}
.second-lga-tip {
    position: absolute;
    top: 24em;
    right: 3.9em;
    z-index: 6;
    background: white;
    color: black;
    padding: .5em .75em;
    font-size: 0.8em;
    display: none;
    border-radius: 6px;
}