@CHARSET "UTF-8";
div.section-border {
    width: 610px;
    margin-left: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.legend-tips {
    position: absolute;
    width: 310px;
    top: 25em;
    left: 0.4em;
    z-index: 6;
    background: #006872;
    color: white;
    padding: .5em .75em;
    font-size: 0.8em;
    display: none;
    border-radius: 6px;
}
.first-lga-tip {
	border-color: rgb(0, 104, 114);
    border-style: solid;
    border-width: thin;
    position: absolute;
    top: 26.7em;
    right: 20.5em;
    z-index: 6;
    background: #006872;
    color: white;
    padding: .5em .75em;
    font-size: 0.8em;
    display: none;
    border-radius: 6px;
}
.second-lga-tip {
	border-color: rgb(0, 104, 114);
    border-style: solid;
    border-width: thin;
    position: absolute;
    top: 26.7em;
    right: 7.2em;
    z-index: 6;
    background: #f1f1f1;
    color: black;
    padding: .5em .75em;
    font-size: 0.8em;
    display: none;
    border-radius: 6px;
}