@CHARSET "UTF-8";
div.section-border {
    width: 610px;
    margin-left: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
div.section-border2 {
    background-color: #ffffff;
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.col-md-7{
	padding-right: 5px;
    padding-left: 12px;
}
.col-md-5{
    padding-right: 12px;
    padding-left: 0px;
}
.col-xs-12{
    padding-left: 10px;
}
#tooltip {
    position: absolute;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    border:1px solid #999;
    z-index: 9999;
    color:black;
    opacity: 0.9;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.legend {
	text-align: left;
	line-height: 18px;
	color: black;
    bottom: 40px;
    left: 3px;
    max-width: 135px;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
	margin-left: 20px;
}
.compare-map-tooltip {
    position: absolute;
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	text-align: left;
	line-height: 18px;
	color: black;
    min-width: 135px;
}
.latest-ranking-histogram {
	height: 100px;
    width: 96%;
    margin-top: -102px;
    z-index: 1000;
    margin-left: 2%;
    position: relative;
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	text-align: left;
	line-height: 18px;
	color: black;
    min-width: 135px;
}
.latest-ranking-legend {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	text-align: left;
	line-height: 18px;
	color: black;
    bottom: 40px;
    left: 3px;
    min-width: 175px;
}
.lga-map-tooltip {
    position: absolute;
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	text-align: left;
	line-height: 18px;
	color: black;
    min-width: 135px;
}
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

.legend-tips {
    position: absolute;
    width: 260px;
    top: 302px;
    left: 5px;
    z-index: 6;
    background: #006872;
    color: white;
    padding: .5em .75em;
    font-size: 0.8em;
    display: none;
    border-radius: 6px;
}
.first-lga-tip {
	/* border-color: rgb(0, 104, 114);
    border-style: solid;
    border-width: thin; */
    position: absolute;
    top: 26.5em;
    right: 230px;
    z-index: 6;
    /* background: #006872; */
    /* color: white; */
    /* padding: .5em .75em; */
    font-size: 0.8em;
    display: none;
    border-radius: 6px;
}
.second-lga-tip {
	/* border-color: rgb(0, 104, 114);
    border-style: solid;
    border-width: thin; */ 
    position: absolute;
    top: 26.5em;
    right: 75px;
    z-index: 6;
    /* background: #d7e8f9;
    color: black; */
    /* padding: .5em .75em; */
    font-size: 0.8em;
    display: none;
    border-radius: 6px;
}
.btn {
    border-radius: 4px; 
    padding: 6px 12px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0px; 
}
.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: bold;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
    opacity:0;
}


.tooltip.fade.right {background-color: transparent;border:none}
.tooltip.fade.left {background-color: transparent;border:none}
/*
.tooltip-arrow {background-color: orange}
.tooltip-inner {background-color: orange}
*/